<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>A productive web framework that<br/>does not compromise speed and maintainability.</p>
</section>

<section class="row">
    <article>
      <%= for book <- @books do %>
        <p>
          <a href=<%= Routes.book_path(@conn, :show, book.id) %>> 
            <%= book.title %>
          </a>
        </p>
        <img src=<%= book.cover %>>
      <%end%>
    </article>
</section>
